a 											{ color: LimeGreen; }
a:hover										{ color: green; }

.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover 			{ background-color: LimeGreen; }

.subnav										{ border: 1px solid #DDD; margin-top: 10px; background-color: whiteSmoke; }
.subnav .divider-vertical 					{ height: 35px; width: 1px; margin: 0px 9px; overflow: hidden; background-color: #DDD; }
.nav-pills									{ margin-bottom: 0px; }

.header										{ margin-top: 50px; margin-left: 40px; }
.social	img									{ width: 24px; height: 24px; opacity: 0.4; }

.footer 									{ text-align: center; color: grey; }
.footer p									{ margin: 0px; font-weight: normal; }
.span1										{ margin-left: 0px; position: relative; left: 40px; z-index: 1;}
.span2										{ margin-left: 0px; position: relative; left: 1080px; top: 0px; z-index: 1; }
.canvas										{ margin: 0px; position: relative; }

#opl-panel									{ display: none; height: 200px; background-color: whiteSmoke; margin: 0px 60px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
.slide										{ margin: 0px 60px; border-top: 3px solid grey; }					
.btn-slide									{ margin-left: 670px; position: relative; top: -10px; }	

table 										{ margin: 10px; }
table tr, td								{ padding: 3px; text-align: center; }

.object										{ height: 50px; width: 80px; border: 3px solid LimeGreen; display: table; _position: relative; overflow: hidden; text-align: center; }
.object div									{ _position: absolute; _top: 50%; display: table-cell; vertical-align: middle; }
.object div p								{ _position: relative; _top: -50%; margin-bottom: 0px; }	
.process									{ height: 80px; width: 80px; border: 3px solid RoyalBlue; display: table; _position: relative; overflow: hidden; text-align: center; border-radius: 70px; -moz-transform: scaleY(0.7); -webkit-transform: scaleY(0.7); -o-transform: scaleY(0.7); }
.process div								{ _position: absolute; _top: 50%; display: table-cell; vertical-align: middle; }
.process div p								{ _position: relative; top: -50%; margin-bottom: 0px; -moz-transform: scaleY(1.4); -webkit-transform: scaleY(1.4); -o-transform: scaleY(1.4); }