.model-name 								{ margin: 40px 40px 10px; padding-top: 20px;  }
a 											{ color: LimeGreen; }
a:hover										{ color: green; }

.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover 			{ background-color: LimeGreen; }

.subnav .divider-vertical 					{ height: 35px; width: 1px; margin: 0px 9px; overflow: hidden; background-color: Silver; }